.popular-movies{
  margin-top: 4rem;

  &_title{
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 17%;
    margin-bottom: 2rem;
  }

  &_carousel{
    margin: 0 10%;
  }
}

@media only screen and (max-width: 940px) {

  .popular-movies_title{
    margin-left: 10%;
  }

  .popular-movies_carousel{
    margin: 0 1%;
  }
}

@media only screen and (max-width: 650px) {
  .popular-movies{
    margin-top: 15rem;

    &_title{
      text-align: center;
      margin-left: 0;
    }
  }
}